name: nfc_app
description: NFC read/write with encrypted payload
publish_to: "none"
version: 1.0.0+1

environment:
  sdk: ">=3.3.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  nfc_manager: ^3.3.0
  cryptography: ^2.7.0
  flutter_secure_storage: ^9.2.2
  qr_flutter: ^4.1.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0

flutter:
  uses-material-design: true
